* {
  margin: 0;
  padding: 0;
}
h1,
div,
p,
button,
a {
  font-family: Euclid Square, serif;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../assets/font/EuclidSquare-Bold.woff2") format("woff2"),
    url("../assets/font/EuclidSquare-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../assets/font/EuclidSquare-Medium.woff2") format("woff2"),
    url("../assets/font/EuclidSquare-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/*                        HEADER                  */
.background-image {
  background-image: url(./../assets/img/backgroundwomen.png);
  background-repeat: no-repeat;
  height: 905px;
  width: 100%;
  background-size: cover;
}

.header-menu {
  display: flex;
  align-items: center;
}

.phone-icon {
  text-align: center;
  width: 22px;
  height: 28px;
  vertical-align: middle;
}

.info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 20px;
  display: flex;
}

.img-about {
  margin-top: 160px;
  margin-bottom: 80px;
  width: 60px;
  height: 60px;
}
.description-about {
  width: 290px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.btn-header-block {
  text-align: center;
  align-items: center;
}

.Btn-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 0 52px;
}
.feature-header {
  display: flex;
  margin-top: 120px;
}

.feature-name {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
}
.feature-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 200px;
}

.feature-line {
  height: 2px;
  background-color: #ffffff;
  margin-left: 28px;
  margin-right: 28px;
}

/*                               HEADER                             */

/*                     THREE ELEMENTS FEATURES           */

.check-up-calculator {
  display: flex;
  align-items: center;
}

.name-about {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}

/*                            CALCULATOR                             */
.calculating_section {
  justify-content: space-between;
}

.h1-calculator {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}

.calculator-line {
  margin-top: 16px;
  border: 1px solid #333333;
  margin-bottom: 32px;
}


.right {
  align-items: center;
  margin-left: auto;
}
.name-calculator {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.description-calculator {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.description-price {
  margin-left: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.calculator-description-block {
  display: flex;
}
.up {
  margin-bottom: 85px;
}
.question-svg {
  width: 16px;
  height: 16px;
  margin-left: 12px;
}


.summary {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-top: 85px;
}

.prices {
  display: flex;
  justify-content: space-between;
}
.yellow-price {
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 80px;
  color: #ff9933;
}

.yellow-text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 80px;
  color: #ff9933;
}
.black-price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  width: 90px;
  color: rgba(51, 51, 51, 0.3);
  align-items: flex-end;
}
.black-description {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.3);
  width: 130px;
}

.summary-line {
  border: 1px solid #333333;
  margin-top: 40px;
}
.summary-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 12px;
  width: 380px;
  margin-bottom: 160px;
}

/*                          CALCULATOR                          */

/*                        BTN SECTION                      */
.Btn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: #ff9933;
  border-radius: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 340px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
}

/*                        BTN SECTION                      */

/*               FIRST SIMPLE SECTION            */


.image-health {
  width: 100%;
  height: auto;
}

.clinic-line {
  border: 3px solid #ff9933;
  margin-top: 156px;
  width: 200px;
}

.number-clinic {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ff9933;
}

/*               FIRST SIMPLE SECTION            */

/*              SECOND SIMPLE SECTION            */


.secondary {
  margin-left: 57px;
  width: 490px;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 80px;
  text-transform: uppercase;
  color: #333333;
}

.clinic {
  display: flex;
  margin-bottom: 322px;
  margin-top: 160px;
}
.row {
  position: relative;
}


/*              SECOND SIMPLE SECTION            */

/*              BENEFIT           */


.benefit-line {
  width: 32px;
  height: 124px;
  background: #ff9933;
  margin-right: 40px;
}

.img-partners {
  display: flex;
  /*justify-content: space-between;*/
  margin-top: 320px;
}
/*              BENEFIT           */

/*             CHOSE SECTION      */
.take-choice {
  margin-top: 160px;
  background-image: url(../assets/img/backgroundcta.png);
  background-repeat: no-repeat;
  height: 684px;
}

.p-choice {
  padding-top: 160px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.btn-choice {
  margin-top: 28px;
  color: #ffffff;
  padding: 20px 40px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 54px;
  width: 210px !important;
  background-color: Transparent;
}

/*             CHOSE SECTION      */

/*                    SLIDER       */







.day1 {
  border: 2px solid #ff9933;
}
.day2 {
  border: 2px solid rgba(51, 51, 51, 0.05);
}
.day3 {
  border: 2px solid rgba(51, 51, 51, 0.05);
}
.day4 {
  border: 2px solid rgba(51, 51, 51, 0.05);
}



.Day {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

.selected {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ff9933;
}



.arrow-left {
  margin-right: 40px;
}
/*             SLIDER      */

/*             FOOTER      */
.right-footer {
  display: flex;
  margin-top: 230px;
  justify-content: flex-end;
}





.footer-phone {
  display: flex;
  align-items: center;
}
.svg-footer {
  margin-right: 5px;
}

.phone-footer {
  margin-right: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}
.callback {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0;
}



/*             FOOTER      */

@media (max-width: 575px) {
  .phone {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 17px;
  }

  .buy-number {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
  }
  .btn-consulting-mobile {
    padding: 12px 32px;
    border: 2px solid #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-color: transparent;
    width: 100%;
  }

  .offer {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 55px;
  }
  .header-name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }
  .header-description {
    margin-left: 52px;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }
  .Btn-logic {
    border: none;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background: #faff17;
    border-radius: 54px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
  }

  .Btn-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 54px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    margin: 0;
  }
  .feature-name {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
  }
  .feature-description {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    width: 200px;
  }
  .feature-line {
    height: 2px;
    background-color: #ffffff;
    margin-left: -10px;
    margin-right: 0;
  }
  .btn-header {
    display: flex;
    flex-direction: column;
  }
  .btn-header-block {
    order: 2;
  }
  .feature-header {
    order: 1;
  }
  .feature-header {
    display: flex;
  }
  .line-second {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .features-adv {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .img-about {
    margin: 0;
  }

  .name-about {
    text-align: center;
  }

  .description-about {
    margin: 0;
    text-align: center;
  }
  .calculating_section {
    padding-top: 320px;
  }
  .calculator-info {
    display: block;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .pdf-mobile {
    display: flex;
    align-items: center;
    margin-top: 130px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 160px;
  }
  .pdf-mobile p {
    margin: 0 0 0 16px;
  }
  .pdf-pc{
    display: none;
  }
  .slider {
    margin-bottom: 300px;
  }
  .Day {
    text-align: center;
    padding: 12px 24px;
  }
  .slider-info{
    display: flex;
    flex-direction: column;
  }
  .slider-text {
    order:1;
  }
  .block-day {
    margin-top: 67px;
    align-items: center;
    display: flex;
    order:2;
  }
  .arrow {
   display: none;
  }
  .slider-name {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer-line {
   display: none;
  }
  .footer-date {
    display:none;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .footer-links{
    order:2;
    margin-bottom: 160px;
  }
  .footer-button{
    order:1;

  }
  .benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 320px;
    align-content: center;
  }
  .number-clinic-description {
    margin-top: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
    width: 200px;
    margin-bottom: 320px;
  }
  .image-clinic {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }
  .check-up-img{
    width: 100%;
  }
  .btn-consulting-pc{
    display:none;
  }
  .btn-footer {
    justify-content: flex-end;
    margin-right: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 54px;
    padding: 12px 32px;
    background-color: transparent;
    margin-top:70px;
  }
  .links {
    margin-top: 230px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    margin-left: 100px;

  }
  .description-clinic {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
  .h1-clinic {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 30px;
  }
  .link-footer {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-right: 130px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) {
  .offer {
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 78px;
  }
  .phone {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 17px;
    color: white;
  }

  .buy-number {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
  }
  .btn-consulting-mobile{
    display:none;
  }
  .btn-consulting-pc {
    padding: 12px 32px;
    border: 2px solid #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 54px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header-name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  .header-description {
    margin-left: 52px;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  .Btn-logic {
    border: none;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background: #faff17;
    border-radius: 54px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    width: 210px;
    margin-right: 52px;
  }
  .Btn-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    width: 210px;
  }

  .btn-header-block {
    display: flex;
    order: 2;
  }
  .feature-header {
    order: 1;
  }
  .feature-name {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 36px;
    text-align: left;
    color: #ffffff;
  }
  .feature-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 200px;
  }
  .feature-line {
    height: 2px;
    background-color: #ffffff;
    margin-left: 28px;
    margin-right: 28px;
  }
  .nav-bar-header {
    display: flex;
  }

  .calculating_section {
    padding-top: 320px;
  }
  .calculator-info {
    display: flex;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .pdf-pc {
    display: flex;
    align-items: center;
    margin-top: 130px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 160px;
  }
  .pdf-pc p {
    margin: 0 0 0 16px;
  }
  .pdf-mobile{
    display: none;
  }
  .test-header{
    display: flex;
    justify-content: space-between;
  }
  .slider {
    display: flex;
    margin-bottom: 300px;
    align-content: space-between;
  }
  .Day {
    text-align: center;
    padding: 6px 40px;
  }
  .slider-text {
    float: right;
  }
  .block-day {
    margin-top: 67px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .arrow {
    color: black;
    margin-top: 175px;
  }
  .slider-name {
    margin-top: 100px;
    margin-bottom: 28px;
  }
  .footer-line {
    margin-top: 270px;
    height: 2px;
    background-color: #333333;
    transform: rotate(-90deg);
    width: 270px;
  }

  .footer-date {
    margin-top: 246px;
  }
  .benefit-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    width: 600px;
  }
  .footer{
    display: flex;
  }
  .benefit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .number-clinic-description {
    margin-top: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
    width: 200px;
  }
  .image-clinic {
    width: 100%;
    height: auto;
    margin-bottom: 360px;
  }
  .check-up-img{
    width: 100%;
  }
  .btn-footer {
    justify-content: flex-end;
    float: right;
    margin-right: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 54px;
    padding: 12px 32px;
    background-color: transparent;
  }
  .links {
    margin-top: 230px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    display: flex;

  }
  .description-clinic {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    width: 470px;
  }
  .slider-description {
    width: 480px;
  }
  .h1-clinic {
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 80px;
    text-transform: uppercase;
    color: #333333;
  }
.footer-links{

  display: flex;
  justify-content: space-between;
  width: 400px;
}
  .link-footer {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-right: 130px;
  }
}
